<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402327710800-2s2mio8v7f85ddieupbg78rj4qjl9gi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402327710800-2s2mio8v7f85ddieupbg78rj4qjl9gi6</string>
	<key>API_KEY</key>
	<string>AIzaSyCFSXiB8YzH5qOyJBXJJf7nO6LhpD-3QFI</string>
	<key>GCM_SENDER_ID</key>
	<string>402327710800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.MusicItemsDigitalDiscography</string>
	<key>PROJECT_ID</key>
	<string>digitalmusicdiscography</string>
	<key>STORAGE_BUCKET</key>
	<string>digitalmusicdiscography.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402327710800:ios:317c32907f9f687580b555</string>
</dict>
</plist>